*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body{
  color: whitesmoke;
}

.logo{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  text-align: center;
}

.logo-margin{
  margin: 8px;
}

.text-logo {
  font-family: Freestyle Script, Freestyle Script_MSFontService, sans-serif;
  font-size:550%;
  color: #CD840D;
  line-height: 77%;
  margin: 5px;
}

.sub-logo{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 225%;
  font-weight:lighter;
  margin: 5px;
}

.fullscreen-btn {
  border: 3.8px solid  #CD840D;
  color: whitesmoke;
  padding: 5.5px;
}

