*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

body{
  position: absolute;
  top: 33%;
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

.text-logo {
  font-family: Freestyle Script, Freestyle Script_MSFontService, sans-serif;
  font-size: 55px;
  text-align: center;
  color: #CD840D;
  letter-spacing: .44em;
  line-height: 33px;
}

.sub-logo{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing:normal;
  line-height: normal;
  font-size: .5em;
  font-weight: 100;
}

.fullscreen-btn {
  border: 3.8px solid  #CD840D;
  color: whitesmoke
}
