* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 770;
  background-color: #0f0f19;
}

.form-wrapper {
  width: 100%;
  max-width: 770px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-top {
  background-color: black;
  opacity: .75;
}

.form-bottom {
  background-color: black;
  opacity: .75;
}

.form-footer {
  padding-top: 10px;

}

.form-footer>p {
  max-width: 48ch;
}


.text-logo {
  padding-top: 2.2vh;
  letter-spacing: 6px;
  font-family: 'Vujahday Script';
  color: #e5a812;
  font-weight: bold;
}

.logo-rotate {
  transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
}

textarea {
  resize: none;
}
